<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>Crash</title>
  </head>
  <body>
    <div class="bodyWrapper">
    <div class="headerContainer">
      <a class="text header">CSGORUSH<span style="color: rgb(244, 75, 66);">.</span>GG</a>

            <a id="playerCount" class="text"></a>
            <a id="balance" class="text">0.00<span style="color: rgb(244, 75, 66);"> COINS</span></a>
            <nav>
              <ul>
                <li><a class="activeNav" href="/crash">CRASH</a></li>
                <li><a href="/roulette">ROULETTE</a></li>
                <li><a href="/colors">COLORS</a></li>
                <li><a href="/dice">DICE</a></li>
                <li><a href="/slots">SLOTS</a></li>
                <li><a href="/fairness">PROVABLY FAIR</a></li>
                <li><a href="/settings">SETTINGS</a></li>
              </ul>
            </nav>
    </div>

    <div class="page">
      <div class="leftContainer">
        <a class="text">CHAT</a>
        <div id="message" class="chatContainer">
        </div>
        <input type="text" id="messageField" class="messagetextfield" placeholder="What's on your mind?"></input>
      </div>

      <div class="mainHolder">


        <div class="centerContainer">
          <canvas id="crashCanvas" class="crashCanvas" width="120" height="500">
        Your browser does not support the HTML5 canvas tag.</canvas>
        <progress class="progressbar" value="1000" max="1000" id="progressBar"></progress>
        <a id="crashValue" class="text crashText">x0.0</a>

        <div class="bottomcontainer">
          <input id="betTextField" class="textfield" value="0.0" placeholder="Bet" ></input><br>
          <a id="searchBTN" class="button">Place Bet</a><br>
        </div>
        </div>


      </div>
    </div>

  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="/clientside/cookie.js"> </script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/firebase.js"> </script>
    <script src="/clientside/clicks.js"></script>
    <script src="/clientside/crash.js"></script>
    <script src="/clientside/chat.js"> </script>
    <script src="/clientside/user.js"> </script>
  </body>

</html>
