<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>Dice</title>
  </head>
  <body>
    <div class="bodyWrapper">
    <div class="headerContainer">
      <a class="text header">CSGORUSH<span style="color: rgb(244, 75, 66);">.</span>GG</a>

            <a id="playerCount" class="text"></a>
            <a id="balance" class="text">0.00<span style="color: rgb(244, 75, 66);"> COINS</span></a>
            <nav>
              <ul>
                <li ><a href="/crash">CRASH</a></li>
                <li><a href="/roulette">ROULETTE</a></li>
                <li><a class="activeNav" href="/dice">DICE</a></li>
                <li><a href="/fairness">PROVABLY FAIR</a></li>
              </ul>
            </nav>

            <div id="GoogleLogin"class="google-button">
              Sign in with
              <div class="google-image"></div>
            </div>
    </div>

    <div class="centerContainer">
      <a class="text textSmall diceShit">BET AMOUNT</a>
      <input id="betAmountField" class="textfield diceShit" value="1.0" placeholder="Bet" ></input>
      <a class="text textSmall diceShit">PROFIT ON WIN</a>
      <a id="profitOnWin" class="text diceShit">0.00</a>
      <a id="overundertext" class="text textSmall diceShit"></a>
      <label class="switch diceShit">
        <input id="overunder" type="checkbox">
        <span class="slider"></span>
      </label>
      <input id="percentageField" class="textfield diceShit" placeholder="%" ></input>
      <a class="text textSmall diceShit">MULTIPLIER</a>
      <input id="multiplierField" class="textfield diceShit" placeholder="Multiplier" ></input>
      <a class="text textSmall diceShit">WIN CHANCE</a>
      <input id="winchanceField" class="textfield diceShit" placeholder="Chance" ></input><br>
      <div class="slidecontainer">
        <input type="range" min="1" max="94" value="47" class="sliderD diceShit" id="sliderDice">
      </div>
      <a id="output" class="text crashText diceShit"></a>
      <a id="rollBTN" class="button diceBtn diceShit">Roll</a><br>
    </div>

    <div class="rightContainer">
    </div>

    <div class="leftContainer">
      <a class="text">Chat</a>
      <div id="message" class="chatContainer">
      </div>
      <input type="text" id="messageField" class="messagetextfield" placeholder="What's on your mind?"></input>
    </div>

  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="/clientside/cookie.js"> </script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/firebase.js"> </script>
    <script src="/clientside/Chart.js"> </script>
    <script src="/clientside/clicks.js"></script>
    <script src="/clientside/dice.js"></script>
    <script src="/clientside/progress.js"> </script>
    <script src="/clientside/chat.js"> </script>
    <script src="/clientside/user.js"> </script>
  </body>

</html>
