<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>ROULETTE</title>
  </head>
  <body>
    <div class="bodyWrapper">
    <div class="headerContainer">
      <a class="text header">WILSON<span class="red-text-big">.</span>GG</a>

            <a id="playerCount" class="text"></a>
            <a id="balance" class="text">0.00 COINS></a>
            <nav>
              <ul>
                <li><a href="/crash">CRASH</a></li>
                <li><a class="activeNav" href="/roulette">ROULETTE</a></li>
                <li><a  href="/dice">DICE</a></li>
                <li><a href="/slots">SLOTS</a></li>
                <li><a href="/fairness">PROVABLY FAIR</a></li>
              </ul>
            </nav>

            <div id="GoogleLogin"class="google-button">
              Sign in with
              <div class="google-image"></div>
            </div>
    </div>


    <div class="page">
      <div class="leftContainer">
        <a class="text">CHAT</a>
        <div id="message" class="chatContainer">
        </div>
        <input type="text" id="messageField" class="messagetextfield" placeholder="What's on your mind?"></input>
      </div>


      <div class="mainHolder">


        <div class="centerContainer">

          <div class="rouletteholder">
            <a class="roulette redR ">1</a>
            <a class="roulette blackR ">14</a>
            <a class="roulette redR ">2</a>
            <a class="roulette blackR ">13</a>
            <a class="roulette redR ">3</a>
            <a class="roulette blackR ">12</a>
            <a class="roulette redR ">4</a>
            <a class="roulette greenR ">0</a>
            <a class="roulette blackR ">11</a>
            <a class="roulette redR">5</a>
            <a class="roulette blackR ">10</a>
            <a class="roulette redR ">6</a>
            <a class="roulette blackR ">9</a>
            <a class="roulette redR ">7</a>
            <a class="roulette blackR ">8</a>
          </div>

          <div class="middlerow">
            <div class="toprowholder">
              <a class="text textSmall diceShit textalignleft">BET AMOUNT</a>
              <input id="betAmountField" class="textfield diceShit" value="1.0" placeholder="Bet" ></input>
            </div>
            <div class="toprowholder">
              <a class="text textSmall diceShit hide">CLEAR</a>
              <a id="clearbutton" class="text switch switchButton diceShit dicebutton">CLEAR</a>
            </div>
            <div class="toprowholder">
              <a class="text textSmall diceShit hide">1/2</a>
              <a id="halfbutton" class=" text switch switchButton diceShit dicebutton">1/2</a>
            </div>
            <div class="toprowholder">
              <a class="text textSmall diceShit hide">x2</a>
              <a id="x2button" class="text switch switchButton diceShit dicebutton">x2</a>
            </div>
            <div class="toprowholder">
              <a class="text textSmall diceShit hide">MIN</a>
              <a id="minbutton" class="text switch switchButton diceShit dicebutton">MIN</a>
            </div>
            <div class="toprowholder">
              <a class="text textSmall diceShit hide">MAX</a>
              <a id="maxbutton" class="text switch switchButton diceShit dicebutton">MAX</a>
            </div>
          </div>

          <div class="bottomcontainer">
            <a id="rollBTN" class="button diceShit" style="width: 100%;">BET</a>
            <a id="output" class="text diceShit"></a>
          </div>

        </div>


      </div>
    </div>





</div>
    <!--
    Popup windows
    !-->
      <div class="popup dice-popup">
        <div class="popup-item-container">

        <a id="popup-text" class="text popup-item"></a>
        <a id="close-popup-button" class="button red">CLOSE</a>
        <input id="disable-popup"type="checkbox"name="popups" value="disabled" ><span class="text">Disable Pop-ups</span></input>
      </div>
    </div>
    <div class="popup generic-popup">
      <div class="popup-item-container">
      <a id="generic-popup-text" class="text popup-item"></a>
      <a id="generic-close-popup-button" class="button red">CLOSE</a>
    </div>
  </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="/clientside/cookie.js"> </script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/firebase.js"> </script>
    <script src="/clientside/Chart.js"> </script>
    <script src="/clientside/clicks.js"></script>
    <script src="/clientside/progress.js"> </script>
    <script src="/clientside/chat.js"> </script>
    <script src="/clientside/user.js"> </script>
  </body>

</html>
