<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>SETTINGS</title>
  </head>
  <body>
    <div class="bodyWrapper">
    <div class="headerContainer">
      <a class="text header">WILSON<span class="red-text-big">.</span>GG</a>

            <a id="playerCount" class="text"></a>
            <a id="balance" class="text">0.00 COINS></a>
            <nav>
              <ul>
                <li><a href="/crash">CRASH</a></li>
                <li><a href="/roulette">ROULETTE</a></li>
                <li><a href="/colors">COLORS</a></li>
                <li><a href="/dice">DICE</a></li>
                <li><a href="/slots">SLOTS</a></li>
                <li><a href="/fairness">PROVABLY FAIR</a></li>
                <li><a class="activeNav" href="/settings">SETTINGS</a></li>
              </ul>
            </nav>

            <div id="GoogleLogin"class="google-button">
              Sign in with
              <div class="google-image"></div>
            </div>
    </div>

    <div class="page">
      <div class="mainHolder">
        <div class="centerContainer">
          <a class="text textSmall diceShit textalignleft">POP-UPS</a>
          <input id="disable-popup" type="checkbox"name="popups" value="disabled" ></input><br>
          <a class="text textSmall diceShit textalignleft" style="cursor: pointer"href="http://steamcommunity.com/id/me/tradeoffers/privacy#trade_offer_access_url">TRADE LINK (CLICK ME)</a>
          <input id="tradelinkField" class="textfield" style="width: 500px; text-align: left;"placeholder="https://steamcommunity.com/tradeoffer/new/?partner=XXXXXXXXXXXXXXXXXXX" ></input><br><br>

          <a id="savesettings" class="button diceShit">SAVE SETTINGS</a>
        </div>
      </div>
    </div>
</div>
    <!--
    POPUP
    -->
    <div class="popup generic-popup">
      <div class="popup-item-container">
      <a id="generic-popup-text" class="text popup-item"></a>
      <a id="generic-close-popup-button" class="button red">CLOSE</a>
    </div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="/clientside/cookie.js"> </script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/firebase.js"> </script>
    <script src="/clientside/clicks.js"></script>
    <script src="/clientside/chat.js"> </script>
    <script src="/clientside/user.js"> </script>
    <script src="/clientside/settings.js"> </script>
  </body>

</html>
