<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="theme-color" content="rgb(165, 255, 195);" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" href="/css/favicon.png" />
    <title>Slots</title>
  </head>
  <body>
    <div class="bodyWrapper">
    <div class="headerContainer">
      <a class="text header">WILSON<span class="red-text-big">.</span>GG</a>

            <a id="playerCount" class="text"></a>
            <a id="balance" class="text diceShit">0.00 COINS></a>
            <nav>
              <ul>
                <li><a href="/crash">CRASH</a></li>
                <li><a href="/roulette">ROULETTE</a></li>
                <li><a href="/colors">COLORS</a></li>
                <li><a href="/dice">DICE</a></li>
                <li><a class="activeNav" href="/slots">SLOTS</a></li>
                <li><a href="/fairness">PROVABLY FAIR</a></li>
                <li><a href="/settings">SETTINGS</a></li>
              </ul>
            </nav>

            <div id="GoogleLogin"class="google-button">
              Sign in with
              <div class="google-image"></div>
            </div>
    </div>

    <div class="page">
      <div class="leftContainer">
        <a class="text diceShit">CHAT</a>
        <div id="message" class="chatContainer">
        </div>
        <input type="text" id="messageField" class="messagetextfield" placeholder="What's on your mind?"></input>
      </div>

      <div class="mainHolder">


        <div class="centerContainer">
          <div class="toprow">
            <div class="toprowholder">
              <a class="text textSmall diceShit textalignleft">BET AMOUNT</a>
              <input id="betAmountField" class="textfield diceShit" value="1.0" placeholder="Bet" ></input>
            </div>
          </div>

          <div class="bottomcontainer">
            <a id="spinSlotsBtn" class="button diceShit" style="width: 100%;">SPIN</a>
            <a id="output" class="text diceShit"></a>
          </div>
        </div>
        <div class="recentGames">
          <a class="text diceShit">RECENT GAMES</a>
          <table id="recentGames" class="text recentGamesContainer">
            <tbody>
            <tr>
            <td>BET</td>
            <td>ROLLED</td>
            <td>PLAYER</td>
            <td>PROFIT</td>
            </tr>
            </tbody>
            </table>
        </div>

      </div>
    </div>
</div>
    <!--
    Popup windows
    !-->
    <div class="popup dice-popup">
        <div class="popup-item-container">
        <a id="popup-text" class="text popup-item"></a>
        <a id="close-popup-button" class="button red">CLOSE</a>
        <input id="disable-popup"type="checkbox"name="popups" value="disabled" ><span class="text">Disable Pop-ups</span></input>
      </div>
    </div>

    <div class="popup generic-popup">
      <div class="popup-item-container">
      <a id="generic-popup-text" class="text popup-item"></a>
      <a id="generic-close-popup-button" class="button red">CLOSE</a>
    </div>
    </div>

  //profile-popup
  <div class="popup profile-popup">
    <div class="popup-item-container">
      <a id="profile-popup-text" class="text popup-item pointer"></a>
      <input id="tipField" class="textfield" style="width:200px"type="number" placeholder="TIP AMOUNT" ></input>
      <a id="profile-tip-popup-button" class="button red">TIP</a>
      <a id="profile-close-popup-button" class="button red">CLOSE</a>
    </div>
  </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="/clientside/sockethandler.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="/clientside/cookie.js"> </script>
    <script src="/clientside/jquery-3.2.1.min.js"></script>
    <script src="/clientside/firebase.js"> </script>
    <script src="/clientside/page.js"></script>
    <script src="/clientside/slots.js"></script>
    <script src="/clientside/chat.js"> </script>
    <script src="/clientside/user.js"> </script>
  </body>

</html>
