@import url('https://fonts.googleapis.com/css?family=Montserrat:300');

.bodyWrapper {
  display:none;
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  background: black;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  margin: 50px auto;
  background-color: rgba(0,0,0,0);
  display: block;
}

@font-face {
    font-family: caviardreams;
    src: url(CaviarDreams.ttf);
}

@font-face {
    font-family: caviardreamsB;
    src: url(CaviarDreams_Bold.ttf);
}
#nokey{
    background-color: #000;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    padding: 8px;
    font-family: caviardreamsb;
    color: rgb(244, 75, 66);
    text-decoration: none;
    cursor: pointer;
    transition: all 0.15s ease;
}

nav li a:hover {

  border-bottom: solid 5px  rgb(244, 75, 66);
}
nav {
  position: fixed;
  left: 10px;
  top: 10px;
}
#playerCount {
  position: fixed;
  right: 10px;
  top: auto;
}
#balance {
  position: fixed;
  right: 10px;
  top: 30px;
}
.activeNav {
  border-bottom: solid 5px  rgb(244, 75, 66);
}
.text {
  font-family: caviardreams;
  text-align: center;
  color: white;
  cursor: default;
  margin: 10px 0px 10px 0px
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.crashCanvas {
  background-color: rgba(17,17,17,1);
  border-radius: 5px;
  padding: 20px 10px 20px 10px;
}
.textSmall {
  font-size: 10px;
  text-align: left;
  margin: 20px 20px 20px 20px;
}
s
.header {
  font-size: 40px;
  font-family: caviardreamsB;
}
.crashText {
  color: rgb(244, 75, 66);
  font-size: 45px;
}

progress[value]::-webkit-progress-value {
    background-color: rgb(244, 75, 66);
}

progress::-webkit-progress-bar {background-color: #000; }

.red-text-big {
  color: rgb(244, 75, 66);
}
.chart {
  width: 70%;
  height: 70%;
  margin: 15px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myChart {
  border-color: rgb(244, 75, 66);
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  margin: 0px;
  background-color: rgba(255,255,255,0.05);
}

.progressbar {

  background-color: rgb(17, 17, 17);
  color:  rgb(17, 17, 17);
  width: 200px;
  height: 10px;
  margin: 20px 20px 20px 20px;
  text-align: right;
}
.button {
  width: 125px;
  height: 40px;
  margin: 20px 20px 20px 20px;
  color: rgb(244, 75, 66);
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  border-color: white;
  padding: 10px 20px 10px 20px;
  font-family: caviardreamsb;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 0.3s ease;
  outline: none;
  text-align: center;
}

.diceBtn {
  width: 100%;

}
.button:hover {
  background-color: rgb(244, 75, 66);
  color: rgba(17,17,17,1);

}

.refresh-icon {
  height: 30px;
  width: auto;
}

.textfield {
  margin: 20px 20px 20px 20px;
  color: rgb(244, 75, 66);
  border-radius: 5px;
  background-color: rgb(17, 17, 17);
  border: none;
  padding: 10px 20px 10px 20px;
  font-family: caviardreamsb;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 0.3s ease;
  outline: none;
  width: 125px;
  height: 40px;
  text-align: center;
}
.textfield::selection {
  background-color: rgb(244, 75, 66);

}

.switch {
  padding: 5px;
  background-color: rgba(17,17,17,1);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 0.3s ease;
}
.switch:hover {
  background-color: rgb(244, 75, 66);
  color: rgba(17,17,17,1);
}
.headerContainer {
  width: 100%;
  height: 5%;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
.toprow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.middlerow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.toprowholder {
  display: flex;
  flex-direction: column;
}
.mainHolder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.centerContainer {
  max-width: 100%;
  border-radius: 5px;
  border: solid 5px  rgb(17, 17, 17);
  padding: 30px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding: 0px 10px 0px 10px;
}

.rightContainer {
  width: 25%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  position: fixed;
  top: auto;
  right: 0px;
  padding: 10px;
}
.leftContainer {
  height: 400px;
  width: 25%;
  padding: 10px;
  border-radius: 5px;
}

.bottomcontainer {
  width: 100%;
}

.popup {
  width: 40%;
  height: 25%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(17,17,17,0.9);
  border-radius: 5px;
  display: none;
  border: solid 5px  rgb(244, 75, 66);
}

.popup-item-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}
.popup-item {
  margin: 20px;
  font-family: caviardreamsB;
}

#dice-result {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.red {
  background-color: rgb(244, 75, 66);
  color: rgb(17,17,17);
}
.red:hover {
  background-color: rgb(17, 17, 17);
  color:  rgb(244, 75, 66);

}
.diceContainer {
  width: 100%;
  height: auto;
}
.textalignleft{
  text-align: left!important;
}
.diceShit {
  text-align: right;
  margin: 8px;
  font-family: caviardreamsB;
}
.capitalize {
  text-transform: capitalize;
}
#container {
  margin: 20px;
  width: 200px;
  height: 200px;
}

.slidecontainer {
  margin-bottom: 20px;
  width: 100%

  }
  .sliderD {
    -webkit-appearance: none;
    width: 97%;
    height: 15px;
    border-radius: 5px;
    background-color: rgb(17, 17, 17);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.sliderD::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(244, 75, 66);
    cursor: pointer;
}

.sliderD::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(244, 75, 66);
    cursor: pointer;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 1px;
  background-color: rgb(17, 17, 17);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(244, 75, 66);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(244, 75, 66);
}

input:focus + .slider {
  box-shadow: 0 0 1px;
  background-color: rgb(17, 17, 17);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: rgb(17, 17, 17);
}

.chatContainer {
  width: 400px;
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1;
}

.messagetextfield {
  color: rgb(244, 75, 66);
  background-color: rgb(17, 17, 17);
  border-radius: 5px;
  padding: 10px;
  border: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  transition: all 0.3s ease;
  outline: none;
  width: 100%;
  height: 40px;
  text-align: left;
}
.messagetextfield::selection {
  background-color: rgb(244, 75, 66);

}

.chatText {
  font-family: caviardreams;
  text-align: center;
  color: white;
  cursor: default;
  line-height: 30px;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(244, 75, 66);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.google-button {
  position: relative;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  color: rgba(0,0,0,0.75);
  font-family: caviardreamsB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease;
  cursor: pointer;
  margin-bottom: 15px;
  position: fixed;
  right: 10px;
  top: 5%;
}

.google-button:hover {
  transform: translateY(-5px);
}

.google-button:active {
  transform: translateY(0px);
  opacity: 0.75;
}

.google-image {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-image: url("google.png");
  background-size: cover;
}

.hide {
  opacity: 0;
}

.dicebutton {
  height: 40px;
}

.rouletteholder {
  height: 80px;
  width: 800px;
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 5px solid rgb(244, 75, 66);
  border-radius: 5px;
}
.roulette {
  border-radius: 5px;
  margin: auto 5px auto 5px;
  font-family: caviardreamsB;
  color: white;
  padding: 20px;
}

.redR {
  background-color: rgb(244, 75, 66);
}
.blackR {
  background-color: rgb(17, 17, 17);
}
.greenR {
  background-color: rgb(66, 244, 149);
}